#mc-container
  #mc-content
    %ul#cackle-comments
      - @comments.each do |comment|
        %li{ id: "cackle-comment-#{comment.comment_id}" }
          #cackle-comment-header.cackle-comment-header
            %cite{ id: "cackle-cite-#{comment.comment_id}" }
              - if comment.author_name
                = link_to comment.author_name, '#', target: '_blank', id: comment.comment_id, rel: 'nofollow'
              - else
                %span{ id: "cackle-author-user-#{comment.comment_id}" }= comment.author_name
          .cackle-comment-body{ id: "cackle-comment-body-#{comment.comment_id}" }
            .cackle-comment-message{ id: "cackle-comment-message-#{comment.comment_id}" }= comment.message

:javascript
   var href = window.location.href;
   if (href.indexOf('?') > 0) {
     var mcChannel = href.substring(0, href.indexOf('?'));
   };
   var mcSite = '#{@config['site_id']}';
   (function() {
       var mc = document.createElement('script');
       mc.type = 'text/javascript';
       mc.async = true;
       mc.src = 'http://cackle.me/mc.widget-min.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
   })();
